# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
*.iml
.idea/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/.symlinks/

# Environment / secrets
.env
.env.local

# OS
.DS_Store
Thumbs.db
.firebase/
